.navbar {
  justify-content: space-between;
  background: transparent;
}

.link {
  color: black;
  margin: 13px;
}

.link:hover {
  text-decoration: none;
  font-weight: bold;
  color: black;
  transition: 0.6s;
}
