.navbar {
  justify-content: space-between;
  background: white;
  height: 8vh;
}

.link {
  color: gray;
  margin: 13px;
}

.link:hover {
  text-decoration: none;
  font-weight: bold;
  color: gray;
  transition: 0.6s;
}
